<footer class="footer-section global-footer{{#is "index,post,tag,author"}}{{#if @member}} is-access{{/if}}{{/is}}">
	<div class="footer-wrap">
	<div class="footer-copyright">
		<a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}} — {{t "All Right Reserved"}}.
		{{{t "Published with {ghost-link}" ghost-link="<a href=\"https://ghost.org\">Ghost</a>"}}}.
	</div>
</footer>