{{!< default}}
{{#author}}
{{#contentFor "background_cover"}}
{{>images/background_cover background_cover=cover_image}}
{{/contentFor}}
<div class="archive-section{{#if profile_image}} is-profile-image{{/if}}">
	{{#if profile_image}}
	<div class="archive-image global-image">
		{{>images/archive_image archive_image=profile_image alt=name}}
	</div>
	{{/if}}
	<h1 class="global-title-large">{{name}}</h1>
	<span class="archive-counter">{{plural ../pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}</span>
	{{#has any="location,website,facebook,twitter"}}
	<div class="archive-social">
		{{#if location}}
		<span>{{>icons/site/pin}}{{location}}</span>
		{{/if}}
		{{#if website}}
		<a href="{{website}}" aria-label="link Website">{{>icons/site/link}}{{t "Website"}}</a>
		{{/if}}
		{{#if facebook}}
		<a href="{{facebook_url}}" aria-label="link Facebook">{{>icons/social/facebook}}Facebook</a>
		{{/if}}
		{{#if twitter}}
		<a href="{{twitter_url}}" aria-label="link Twitter">{{>icons/social/twitter}}Twitter</a>
		{{/if}}
	</div>
	{{/has}}
	{{#if bio}}
	<p class="archive-description">{{bio}}</p>
	{{/if}}
</div>
{{/author}}
{{>loop}}
{{pagination}}

