{{!< default}}
{{#post}}
{{>post_header membership_page=true add_background_image=true background_image=true}}
<div class="membership-cards">
	{{^if @member}}
	{{>members/plan_free}}
	{{/if}}
	{{>members/plan_monthly}}
	{{>members/plan_yearly}}
</div>
{{^if @member}}
<small class="global-question">{{t "Already have an account?"}} <a href="{{@site.url}}/signin/">{{t "Sign in"}}</a></small>
{{/if}}
{{#if html}}
<div class="membership-faq-section">
	<h2 class="membership-faq-title global-title-medium">{{{t "Frequently asked {start-italic}questions{end-italic}" start-italic="<span>" end-italic="</span>"}}}</h2>
	<div class="membership-faq-content post-content">
		{{content}}
	</div>
</div>
{{/if}}
{{/post}}