<ul>
	{{#if @member}}
	<li class="account"><a href="{{@site.url}}/#/portal/account">{{t "Account"}}</a></li>
	<li class="signout"><a href="#" data-members-signout>{{t "Sign out"}}</a></li>
	{{else}}
	<li class="signin"><a href="{{@site.url}}/#/portal/signin">{{t "Sign in"}}</a></li>
	<li class="signup"><a href="{{@site.url}}/#/portal/signup" class="global-button">{{t "Subscribe"}}</a></li>
	{{/if}}
</ul>
